<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>API Criptomonedas — TP4</title>
<link rel="stylesheet" href="../statics/styles.css">
</head>
<body>

<a href="index.html">
  <button class="volver">⬅ Inicio</button>
</a>

<div id="mensajeBienvenida"></div>
<div style="text-align:center;">
  <button id="btnIngresarNombre">Ingresar nombre y apellido</button>
  <button id="btnBorrarNombre">Borrar nombre</button>
</div>

<h1>Criptomonedas — TP4</h1>
<p style="text-align:center;">Selecciona una criptomoneda para ver su precio, cambio 24h y market cap.</p>

<div class="contenedorBusqueda">
  <select id="criptoSelect"></select>
  <button id="buscarCriptoBtn">Consultar</button>
</div>

<div id="criptoResultado"></div>

<script src="../js/script_bienvenida.js"></script>
<script src="../js/cripto.js"></script>
</body>
</html>
