<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>API Países — TP4</title>
<link rel="stylesheet" href="../statics/styles.css">
</head>
<body>

<a href="index.html">
  <button class="volver">⬅ Inicio</button>
</a>

<div id="mensajeBienvenida"></div>
<div style="text-align:center;">
  <button id="btnIngresarNombre">Ingresar nombre y apellido</button>
  <button id="btnBorrarNombre">Borrar nombre</button>
</div>

<h1>🌎 Buscador de Países</h1>
<p style="text-align:center;">Ingresa el nombre de un país y obtén su información oficial y una imagen de referencia.</p>

<div class="contenedorBusqueda">
  <input type="text" id="paisInput" placeholder="Ejemplo: Paraguay">
  <button id="buscarPaisBtn">Buscar</button>
</div>

<div id="paisResultado"></div>

<script src="../js/script_bienvenida.js"></script>
<script src="../js/paises.js"></script>
</body>
</html>
