<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rick & Morty — TP4</title>
<link rel="stylesheet" href="../statics/styles.css">
</head>
<body>

<a href="index.html">
  <button class="volver">⬅ Inicio</button>
</a>

<div id="mensajeBienvenida"></div>
<div style="text-align:center;">
  <button id="btnIngresarNombre">Ingresar nombre y apellido</button>
  <button id="btnBorrarNombre">Borrar nombre</button>
</div>

<h1>Rick & Morty — TP4</h1>
<p style="text-align:center;">Ingresa el ID de un personaje y obtén su información.</p>

<div class="contenedorBusqueda">
  <input type="number" id="rickInput" placeholder="Ej: 1">
  <button id="buscarRickBtn">Buscar</button>
</div>

<div id="rickResultado"></div>

<script src="../js/script_bienvenida.js"></script>
<script src="../js/rick.js"></script>
</body>
</html>
